{% set nic = nodes[node_number| int].nics[nic_number | int] %}
[connection]
id={{ nic.name }}
type=ethernet
autoconnect-priority=-999
interface-name={{ nic.name }}

[ethernet]

[ipv4]
method=manual
address1={{ nic.ipv4_address }}
gateway={{ network.gate }}
dns={{ dns.nameserver }}
{%- if network.routes is defined %}
routes={{ network.routes }}
{%- endif %}
[ipv6]
addr-gen-mode=stable-privacy
method=disabled

[proxy]
